<div class="card" [class.has-background-grey-lighter]="todoItem.isFinished">
  <div [class.is-finished]="todoItem.isFinished">
    <div class="card-header">
      <p class="card-header-title">{{ todoItem.name }}</p>
      <span title="Delete task">
        <div
          class="button is-white"
          [class.has-background-grey-lighter]="todoItem.isFinished"
          (click)="onDelete()"
        >
          <fa-icon
            class="icon is-medium has-text-danger"
            [icon]="faTrashAlt"
          ></fa-icon>
        </div>
      </span>
    </div>

    <div class="card-content">
      <p class="title is-4">{{ todoItem.description }}</p>
      <p>Assignee: {{ todoItem.assignee }}</p>
      <div class="level" [ngSwitch]="todoItem.priority">
        <span class="level-left" *ngSwitchCase="'High'">
          <div class="level-item">
            <fa-icon class="icon has-text-danger" [icon]="faArroWUp"></fa-icon>
            <p class="media-left">High</p>
          </div>
        </span>

        <span class="level-left" *ngSwitchCase="'Medium'">
          <div class="level-item">
            <fa-icon
              class="icon has-text-warning"
              [icon]="faArrowRight"
            ></fa-icon>
            <p class="media-left">Medium</p>
          </div>
        </span>

        <span class="level-left" *ngSwitchCase="'Low'">
          <div class="level-item">
            <fa-icon
              class="icon has-text-success"
              [icon]="faArrowDown"
            ></fa-icon>
            <p class="media-left">Low</p>
          </div>
        </span>
      </div>
    </div>
  </div>

  <footer class="card-footer">
    <p class="card-footer-item">
      <button
        class="button is-success"
        [disabled]="todoItem.isFinished"
        (click)="onFinish()"
      >
        <span class="icon">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
        </span>
        <p>Finish task</p>
      </button>
    </p>

    <p class="card-footer-item">
      <button class="button is-warning" (click)="onUpdate()">
        <span class="icon">
          <fa-icon [icon]="faPen"></fa-icon>
        </span>
        <p>Update task</p>
      </button>
    </p>
  </footer>
</div>
