<div class="columns is-multiline">
  <app-todo-item
    class="column is-one-quarter"
    *ngFor="let todoItem of todoItems"
    [todoItem]="todoItem"
    (delete)="onTodoItemDelete($event)"
    (update)="onTodoItemUpdate($event)"
    (finish)="onTodoItemFinish($event)"
  >
  </app-todo-item>
</div>
<div class="buttons">
  <button class="button is-info" (click)="setAddTodoState($event)">
    <span class="icon"><fa-icon [icon]="faPlus"></fa-icon></span>
    <p>Add new task</p>
  </button>
  <app-add-todo
    *ngIf="addTodoShown"
    (cancelEvent)="setAddTodoState($event)"
  ></app-add-todo>
</div>
